<app-navbar></app-navbar>

      <div class="container">
        <h3>ORDER FORM</h3><br>
        <h5>Contact Information</h5>
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><br>
                <div class="row g-3">
                    <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="Name">Your Name</label>
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>

                    <div class="col col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                        <label for="Name"></label>
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    
                        <label for="Email Id">Email Id</label>
                        <input type="email" name="" id="" class="form-control" placeholder="example@example.com">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
    
                        <label for="Date Required">Date Required</label>
                        <input type="date" name="" id="" class="form-control">
                    </div>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><br>

                        <h4>ORDER DETAILS</h4>
                        <label for="No.of serves">No.of serves</label>
                        <input type="text" class="form-control">
                    </div>

                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                        <label for="Flavours">Flavours</label>
                        <select name="" id="" class="form-control">
                            <option value="Select">--------------------Select-----------</option>
                            <option value="Mud Cake-Chocolate">Mud Cake-Chocolate</option>
                            <option value="Mud Cake-White Chocolate">Mud Cake- White Chocolate</option>
                            <option value="Mud Cake-Red Velvet">Mud Cake-Red Velvet</option>
                        </select>
                    <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12"><br>
    
                        <button class="btn btn-success">ORDER</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>



   